
<div class ="second-container mx-auto">
    <LinkTo @route="preselected">
        <div class= "pre-selected mt-5 mb-3 text-center mx-auto">
                <p class="linktopreselected">Click here to see some awesome movies</p>

        </div>
    </LinkTo>
    <div class="mt-5 search mx-auto text-center" id="search-submit">
            <div class="input">
                {{input type="text" id="input-a" class="mt-5 text-center" value=movieName placeholder="Please enter a movie title"}}
            </div>
            <div>   
                <button class="search-button mt-5" {{action "getInput" this.movieName}}>🍿</button>    
            </div>
            
            
    </div>  
</div>
<div class="spinner" id="loader">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
</div>
<div id="appear">
    <div class="mt-5 mx-auto display text-center">
        <div class="scrollmenu" id="custom-scroll">
        <ul class="list-group list-group-horizontal mt-5">
            {{#each this.model as |movie|}}
                <button class="mx-auto no-background mb-5" title="Click for more movie details" {{action "showDetails"}}>
                    <div class="card card-back text-center justify-content-center mx-auto">
                        <img src={{movie.Poster}} class="card-img-top img-resize" alt="...">
                        <div class="card-body text-wrap">
                            {{movie.Title}}
                        </div>
                        <div class="text-wrap details" id="movie-details">
                            <p>Director: {{movie.Director}}</p>
                            <p>Rated: {{movie.Rated}}</p>
                            <p>Released: {{movie.Released}}</p>
                            <p>imdbRating: {{movie.imdbRating}}</p>
                            <p>Production: {{movie.Production}}</p>
                            <p>Genre: {{movie.Genre}}</p>
                        </div>
                    </div>
                </button>
            {{/each}}
        </ul>
        </div>
    </div>
</div>
